
Follow the partyppocampe

<div class="col-lg-3">
<%= image_tag("partippocampeblanc.png", :alt => "rss feed") %>
</div>
<div class="col-lg-6">
<ul >
        <li><%= link_to 'My events', controller: 'events' %></li>
        <li><%= link_to 'New event', new_event_path %></li>
      </ul>
</div>

