<div class="col-md-8 col-md-offset-2" align="middle">

	<div class="col-md-12">
	<i class="custom-medium-title">le </i>
	<i class="custom-large-title">Fiesta !</i>
	</div>

	<div class="col-md-4">
	<%= image_tag("partippocampeblanc.png") %> 
	</div>

	<div class="col-md-8" align="left">
	Follow the magnificent <span class="text-success">Partyppocampe</span>, this legendary creature will help you organize all the <span class="text-success">parties</span> and <span class="text-success">events</span> you plan for <span class="text-success">you</span>, your <span class="text-success">family</span>, your <span class="text-success">friends</span>. 
	</br></br>

	<%= render "devise/shared/signin" %>

</div>

