<div class="col-md-3">
	<p class="custom-medium-title">Edit event</p>
	<%= link_to event_path(@event), {class: "btn btn-default btn-md col-md-10"} do%>
      <p class="glyphicon glyphicon-chevron-left"></p> Back 
  <%end%>
 </div>


<div class="col-md-9">
	<%= field_set_tag do %>
	<%= render 'form' %>
	<% end%>
</div>
