<div class="col-md-3">
  <p class="custom-medium-title">Events</p>

  All created events are listed on the right. Feel free to </br></br>
  <i class="glyphicon glyphicon-align-justify"></i>  Show more details </br>
  <i class="glyphicon glyphicon-pencil"></i>  Edit </br>
  <i class="glyphicon glyphicon-trash"></i>  Delete </br></br>
  <%= link_to new_event_path, {:class => "btn btn-success"} do%><p class="glyphicon glyphicon-plus"> Create a new event</p><%end%>
</div>

<div class="col-md-8 col-md-offset-1">
</br>
  <p class="custom-small-title">Upcoming events</p>
  <div id="columns">
    <% @future_events.each do |event| %>
      <div class="col-md-12">  
        <div class="panel panel-success">
          <%= render partial: 'event_panel' , :locals => {:event => event}%>
        </div>
      </div>
    <%end%>
  </div>

  <p class="custom-small-title">Past events</p>
  <div id="columns">
  <% @past_events.each do |event| %>
    <div class="col-md-12">  
      <div class="panel panel-default">
        <%= render partial: 'event_panel' , :locals => {:event => event}%>
      </div>
    </div>
  <%end%>
</div>
