
<div class="col-md-3">
	<p class="custom-medium-title">Create a new event</p>
	<%= link_to user_path(current_user), {class: "btn btn-default btn-md col-md-10"} do%>
      <p class="glyphicon glyphicon-chevron-left"></p> Back 
  <%end%>
 </div>

<div class="col-md-9">
	<%= field_set_tag do %>
	<%= render 'form' %>
	<% end%>
</div>


